<header>
  <h1>Title</h1>
</header>

<div id="container" class="NosBorder">

  {block:Posts}
    {block:Text}
      <div class="Item Text">
        <a href="{Permalink}" class="Permalink"> </a>
        <div class="TextBlock">
          {block:Title}<h3>{Title}</h3>{/block:Title}
          {Body}
        </div> 
      </div>
    {/block:Text}
    {block:Quote}
      <div class="Item Quote">
        <a href="{Permalink}" class="Permalink"> </a>
        <div class="TextBlock">
          <blockquote class="words {Length}">{Quote}</blockquote>
          {block:Source}<div class="source">&mdash; {Source}</div>{/block:Source}
        </div> 
      </div>
    {/block:Quote}
    {block:Text}
      <div class="Item Link">
        <a href="{Permalink}" class="Permalink"> </a>
        <div class="TextBlock">
          <h3><i class="fa fa-link"></i> <a href="{URL}" {Target}>{Name}</a></h3>
          {block:Description}<div class="source">{Description}</div>{/block:Description}
        </div> 
      </div>
    {/block:Text}
    {block:Video}
      <div class="Item Video">
        {Video-700}
        <a href="{Permalink}" class="Permalink"> </a>
      </div>
    {/block:Video}
    {block:Audio}
      <div class="Item Audio" {block:AlbumArt}style="background-image: url({AlbumArtURL})"{/block:AlbumArt}>
        {AudioPlayerBlack}

      </div>
    {/block:Audio}
    {block:Photo}
      <div class="Item Photo" alt="{PhotoAlt}" style="background-image:url({PhotoURL-HighRes})">
        <a href="{Permalink}" class="Permalink"> </a>
      </div>
    {/block:Photo}
    {block:Photoset}
      {block:Photos}
      <div class="Item Photo" alt="{PhotoAlt}" style="background-image:url({PhotoURL-HighRes})">
        <a href="{Permalink}" class="Permalink"> </a>
      </div>
      {/block:Photos}
    {/block:Photoset}

  {/block:Posts}

</div>